 
<div class="row">
   {{#each product}}
  <div class="col-md-3 d-flex">

    <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="{{path}}" alt="Card image cap">
    <div class="card-body bg-dark text-white ">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{description}}</p>
      <p class="card-text"><strong>${{precio}} (Incluye IVA)</strong></p>
      <a href="/products/Sale/{{_id}}" class="btn btn-primary">Comprar</a>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
   </div>

</div>
{{/each}}
</div>

